h1 =Request.model_name.human + t('actions.index')
- breadcrumb :requests
= render 'list'
br

= link_to '新規申請を出す', new_request_path, class: 'btn btn-default'
'
= link_to '代理申請を出す', new_request_path(has_client: true), class: 'btn btn-default'
'
= link_to '完了した申請を表示', requests_path(with_undisplayable: true), class: 'btn btn-default'
